.game-cell {
    display: flex;
    width: 55px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: blue;

}

.game-cell .value {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.game-cell.active {
    background-color: #bbd7f6 !important;
}

.game-cell.game-value {
    color: black;
}

.game-cell.highlighted {
    background-color: #e9e9e9;
}

.game-cell:hover{
    background-color: #def;
    cursor: pointer;
}

.pencil-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 0;
    height: 100%;
    left: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
}

.game-cell .pencil-grid .pencil-grid-cell {
    color: #aaa;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    position: relative;
}

