.game-controls-wrapper {
    width: 100%;
    user-select: none;
    max-width: 450px;
    display: grid;
    grid-template-rows: 89% 11%;
    margin: 0 auto;
}

.game-controls-wrapper .numpad-wrapper {
    flex-grow: 1;
    position: relative;
}

.numpad-wrapper .numpad {
    display: grid;
    grid-template-columns: repeat(9, 11.1%);
    grid-template-rows: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #9e9e9e;
}

.numpad .numpad-item {
    font-size: 5vw;
    border-color: #9e9e9e;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: all .2s ease-in-out;
}

.numpad .numpad-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.numpad .numpad-item:hover {
    background-color: #f3f3f3;
}

.numpad .numpad-item:active {
    background-color: #dfdfdf;
}

.game-controls-wrapper .game-controls {
    margin-top: 20px;
    flex: 1 0 auto;
    flex-grow: 0;
}

.game-controls .game-controls-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    height: 100%;
    width: 100%;
}

.game-controls-buttons .game-controls-item {
    background: #e9e9e9;
    border-color: #fff;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    padding: 8px 0 6px;
    text-align: center;
    transition: all .2s ease-in-out;
    color: #4e4e4e;
}

.game-controls-item.edit-mode {
    background-color: #3490de;
    color: white;
}

@media only screen and (min-width: 800px) {
    .game-controls-wrapper {
        width: 50%;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
    }

    .numpad-wrapper .numpad {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .numpad .numpad-item {
        font-size: 4vw;
    }
}