.game-controls-wrapper {
    margin-left: 20px;
    min-width: 100px;
    user-select: none;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.game-controls-wrapper .numpad-wrapper {
    flex-grow: 1;
    position: relative;
}

.numpad-wrapper .numpad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #9e9e9e;
}

.numpad .numpad-item {
    border-color: #9e9e9e;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 6% 0 5%;
    position: relative;
    text-align: center;
    transition: all .2s ease-in-out;
    width: 33.3333%;
}

.numpad .numpad-item:hover {
    background-color: #f3f3f3;
}

.numpad .numpad-item:active {
    background-color: #dfdfdf;
}

.game-controls-wrapper .game-controls {
    margin-top: 20px;
    flex: 1 0 auto;
    flex-grow: 0;
}

.game-controls .game-controls-buttons {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.game-controls-buttons .game-controls-item {
    background: #e9e9e9;
    border-color: #fff;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    flex-basis: 49.9999%;
    max-width: 48.9999%;
    margin: 2px 2px;
    padding: 8px 0 6px;
    text-align: center;
    transition: all .2s ease-in-out;
    color: #4e4e4e;
}