.wrapper {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper .sudoku-header {
  margin-bottom: 10px;
}

.wrapper .sudoku-header button {
  border-radius: 30px;
  width: 100%;
  background-color: #3490de;
  border-color: #3490de;
  color: white;
  transition: all .2s ease-in-out;
}

.wrapper .sudoku-header button:hover {
  background-color: #69a7f0;
  border-color: #69a7f0;
}

@media only screen and (min-width: 800px) {
  .wrapper .game-wrapper {
    flex-direction: row;
  }
}


/*.wrapper {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  padding: 10px;*/
/*}*/

/*.wrapper .create-new-game{*/
/*  width: 100%;*/
/*  height: 30px;*/
/*  background-color: #1cbb1c;*/
/*  color: white;*/
/*  border: 1px solid #17df26;*/
/*  border-radius: 23px;*/
/*  font-weight: 500;*/
/*}*/

/*.wrapper .game-wrapper {*/
/*  max-height: 513px;*/
/*  margin-top: 10px;*/
/*  display: grid;*/
/*  gap: 20px;*/
/*  grid-template-columns: 50% 50%;*/
/*  grid-template-rows: 100%;*/
/*  justify-items: center;*/
/*}*/

/*.game-controls-wrapper {*/
/*  width: 50%;*/
/*}*/

/*@media only screen and (max-width: 800px) {*/
/*  .wrapper .game-wrapper {*/
/*    grid-template-columns: 100%;*/
/*    grid-template-rows: 90% 10%;*/
/*    max-height: 1000px;*/
/*  }*/
/*}*/